/* ----------Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@400;600;700&display=swap');

/* ----------General Styles */

html,
body {
    background-color: #121212;
    color: #f7f7f7;
}

button,
a {
    color: inherit;
}

a {
    text-decoration: none;
}

/* Font styles */

.font-main {
    font-family: 'Montserrat', sans-serif;
}

.font-secondary {
    font-family: 'Hind', sans-serif;
}

.font-bold {
    font-weight: 700;
}

/* ----------Header and Navbar Styles */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}

nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}