/* ----------Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:wght@400;600;700&display=swap');

/* ----------CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ----------General Styles */

html {
    scroll-behavior: smooth;
}

html,
body {
    background-color: #121212;
    color: #f7f7f7;
}

button,
a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: #d60036;
}

section {
    padding: 0 5rem;
    margin-top: 5rem;
}

/* Font styles */

.font-main {
    font-family: 'Montserrat', sans-serif;
}

.font-secondary {
    font-family: 'Hind', sans-serif;
}

.font-bold {
    font-weight: 700;
}

.main-title {
    font-size: 177px;
    margin: 0;
    line-height: 1.0;
}

.secondary-title {
    font-size: 60px;
    margin: 16px 0 0 0;
    line-height: 1.0;
}

.color-secondary {
    color: #d60036;
}

.color-tertiary {
    color: #00592e;
}

.section-heading {
    background-color: #d60036;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------Header and Navbar Styles */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #121212;
    z-index: 99;
}

nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/* ----------Home Section Styles */

#home .secondary-title {
    margin-bottom: 2rem;
}

.home-skills {
    font-size: 30px;
}

.home-skills span {
    color: #d60036;
}

section#home {
    margin-bottom: 10rem;
}

/* ----------Projects Section Styles */

section#projects {
    margin-bottom: 5rem;
}

.projects-section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

.project {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.project-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.project-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* ----------About Section Styles */

.about__main-text {
    text-align: center;
    padding: 0 20rem;
    font-size: 1.25rem;
    line-height: 1.2;
}

.about__grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    gap: 4rem;
}